#header {
	background-color:#003399;
	padding: 1em;
	height: 200px;
	top:0;
	left: 0;
	clear: left;
}
#header header {
	width: 100%;
	text-decoration: none;
}
.logo {
	height: 175px;
	margin-left: 30px;
}
#header a{
	text-decoration: none;
	color: #17202A;
}
#toplinks {
	background-color: #cc0000;
	font-size: 1.5em;
}
#toplinks a {
	text-decoration: none;
	margin-left: 100px;
	color: black
}
#cellimage img {
	height: 200px;
	width:100%;
}
#logo{
	height: 180px;
	margin-left: 20px;
}
#cellphonesandme {
	background-color: #A569BD;
}
#cellphonesandme p {
	float:left;
	width: 350px;
	margin: 20px;
	text-align: center;
}
.cellphones {
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
	margin: 10px;
}
#s8 {
	float: left;
	width: 300px;
}
.thirdrow p {
	float: right;
	text-align: center;
	width:350px;

}
#content {
	overflow: auto;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: #2C3E50;
	margin: 0px;
	padding: 0px;
}
footer{
	clear: both;
	background-color: #CD6155;
}
.center {
	margin: auto;
    width: 50%;
    padding: 10px;
}
h2 {
	text-align: center;
}
.notsocenter {
	margin:auto;
	width: 70%
}
.notsocenter h2 {
	margin-top: 10px;
}
.notsocenter h2 a{
	text-decoration: none;
	color: black;
	margin-top: 10px;
}

.blogpost {
	background-color: #006600;
	margin: 100px;
}
.blogpost p {
	float:left;
	width: 350px;
	margin: 20px;
	text-align: center;
}
.blogpost h2 {
	text-decoration: none;
	text-align: left
}
.blogimage {
	height: 200px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
	margin-left: 50px;
	margin-bottom: 50px;
}
.product div {
	position: relative;
	margin: 40px;
	background-color: #993366;
	float: left;
	top: 30px;
	left: 30px;
}
.product div a img {
	height: 200px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
	margin-left: 50px;
	margin-bottom: 50px;
}
